---
import KapaTexture from "@/assets/images/footer/kapa-texture.webp?url";
import KapaIcon from "@/assets/icons/footer/kapa.svg";
import Title from "@/components/ui/Title.astro";

const links = [
	{
		title: "Solutions",
		children: [
			{ title: "How it works", href: "/how-it-works" },
			{ title: "Pricing", href: "/pricing" },
			{ title: "Why us", href: "/why-us" },
			{ title: "Testimonials", href: "/testimonials" },
			{ title: "Samples", href: "/samples" },
			{ title: "Case studies", href: "/case-studies" }
		]
	},
	{
		title: "Company",
		children: [
			{ title: "LinkedIn", href: "https://www.linkedin.com/company/kapa99/" },
			{ title: "FAQ's", href: "/#faq" },
			{ title: "Kapa vs Others", href: "/compare" },
			{ title: "Knowledge base", href: "https://knowledge.kapa99.com/" },
			{ title: "Blog", href: "https://kapa99.com/blog/" }
		]
	}
];

const firstColumn = links[0];
const secondColumn = links[1];
---

<div class="bg-night-blue border-y border-[rgba(102,153,255,0.20)]">
	<div class="site-container">
		<div class="flex grid-cols-2 lg:grid">
			<div class="flex grow items-center">
				<KapaIcon />
			</div>
			<div class="justify-between lg:flex lg:border-l lg:border-[rgba(102,153,255,0.20)]">
				<div class="space-y-2 px-6 py-10 lg:space-y-0">
					<Title type="h6" class="text-neutral-95">+1 (518) 838 1619</Title>
					<Title type="h6" class="text-neutral-95 lg:hidden">help@kapa99.com</Title>
				</div>
				<div class="hidden px-6 py-10 lg:block lg:border-l lg:border-[rgba(102,153,255,0.20)]">
					<Title type="h6" class="text-neutral-95">help@kapa99.com</Title>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-night-blue">
	<div class="site-container">
		<div class="grid grid-cols-1 lg:grid-cols-2">
			<div></div>
			<div class="grid grid-cols-2 justify-between gap-x-28">
				<div class="px-6 py-10">
					<span class="text-blue mb-4 block">{firstColumn.title}</span>
					{
						firstColumn.children.map((link) => (
							<a
								class="footer-nav-link text-k-md text-neutral-95 hover:text-pumpkin mb-3 flex items-center transition-colors"
								href={link.href}
								data-href={link.href}
								data-active="false"
							>
								<div
									class="active-circle mr-0 h-2 w-0 w-2 flex-shrink-0 rounded-full opacity-0 transition-all duration-200" />
								{link.title}
							</a>
						))
					}
				</div>
				<div class="px-6 py-10">
					<span class="text-blue mb-4 block">{secondColumn.title}</span>
					{
						secondColumn.children.map((link) => (
							<a
								class="footer-nav-link text-k-md text-neutral-95 hover:text-pumpkin mb-3 flex items-center transition-colors"
								href={link.href}
								data-href={link.href}
								data-active="false"
							>
								<div
									class="active-circle mr-0 h-2 w-0 w-2 flex-shrink-0 rounded-full opacity-0 transition-all duration-200" />
								{link.title}
							</a>
						))
					}
				</div>
			</div>
		</div>
	</div>
</div>

<img src={KapaTexture} class="w-full" alt="Kapa texture" />

<div class="bg-night-blue">
	<div class="site-container py-10 lg:px-20">
		<div class="text-k-sm text-neutral-80 flex flex-col justify-between lg:flex-row">
			<span class="text-center">© 2025 Kapa. All rights reserved.</span>

			<div class="flex justify-center gap-x-16">
				<a href="#">Terms and Conditions</a>
				<a href="#">Privacy Policy</a>
			</div>
		</div>
	</div>
</div>

<script>
	import "@/scripts/active-manager.js";
</script>
