---
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";

import { caseStudies } from "@/data/case-studies";
---

<section class="site-container">
	{caseStudies.map((caseStudy) => (
		<a href={caseStudy.url}
			 class="hover:bg-neutral-95 grid grid-cols-1 lg:grid-cols-2 bg-sky-blue border-light-blue rounded-xl">
			<div class="flex flex-col gap-y-6 lg:gap-y-12 p-6 pt-10 lg:p-16 justify-center">
				<img src={caseStudy.logo} class="max-w-[200px]" alt={caseStudy.title} />

				<div class="flex flex-col gap-y-4">
					<Title type="h5" mobileType="h4">
						{caseStudy.title}
					</Title>

					<p>{caseStudy.excerpt}</p>
				</div>

				<div class="flex flex-wrap gap-x-2">
					{caseStudy.tags.map((tag) => (
						<div
							class="text-k-xs lg:text-k-md text-neutral-40 inline-block rounded-xl border-light-blue border py-[2px] px-[10px]">{tag}
						</div>
					))}
				</div>
			</div>
			<div class="p-6">
				<img src={caseStudy.image} class="w-full h-auto object-cover rounded-lg" alt={caseStudy.title} />
			</div>
		</a>

		<Divider size="small" />
	))}
</section>
