---
import StarIcon from "../../../assets/icons/why-use-it/star.svg";

type Props = {
	designer: {
		name: string;
		role: string;
		image: string;
		score: {
			value: string;
			background: string;
			textColor: string;
		};
	};
};

const { designer } = Astro.props;
---

<div
	class="border-neutral-95 flex w-[160px] flex-col items-center rounded-2xl bg-neutral-100 p-6 shadow-[24px_24px_24px_0px_rgba(24,29,41,0.16)]"
>
	<div class="relative">
		<span
			class={`absolute -right-5 flex items-center px-[10px] py-[2px] rounded-3xl ${designer.score.background}`}
		>
			<span class={`text-k-xs ${designer.score.textColor}`}>{designer.score.value}</span>
			<StarIcon class={designer.score.textColor} />
		</span>
		<img src={designer.image} class="w-[96px]" alt="Jason Smith" />
	</div>
	<div class="text-neutral-10 mt-2 text-xl font-medium text-nowrap">
		{designer.name}
	</div>
	<div class="text-neutral-60 text-nowrap">{designer.role}</div>
</div>
