---
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";
import HeroChip from "@/components/pricing/HeroChip.astro";

import KapaChatImage from "@/assets/images/how-it-works/kapa-chat.webp?url";
import KapaChatMobileImage from "@/assets/images/how-it-works/kapa-chat-mobile.webp?url";
import KanbanBoardImage from "@/assets/images/how-it-works/kanban-board.webp?url";
import KanbanBoardMobileImage from "@/assets/images/how-it-works/kanban-board-mobile.webp?url";
import PrioritizationPillsImage from "@/assets/images/how-it-works/prioritization-pills.webp?url";
import PrioritizationPillsMobileImage from "@/assets/images/how-it-works/prioritization-pills-mobile.webp?url";
import PriorityCommentsImage from "@/assets/images/how-it-works/priority-comments.webp?url";
import PriorityCommentsMobileImage from "@/assets/images/how-it-works/priority-comments-mobile.webp?url";
import DedicatedTeamImage from "@/assets/images/how-it-works/dedicated-team.webp?url";
import DedicatedTeamMobileImage from "@/assets/images/how-it-works/dedicated-team-mobile.webp?url";
import StepsImage from "@/assets/images/how-it-works/steps.webp?url";
import StepsMobileImage from "@/assets/images/how-it-works/steps-mobile.webp?url";
import { PRICING_URL } from "@/constants/app";
import { PRICING_URL } from "../../constants/app";

const bentoCardDefaultClasses = "bg-sky-blue border-light-blue rounded-2xl";
---

<div class="site-container">
	<Title type="h1" class="text-center"> Your all-in-one design workflow </Title>

	<Divider size="large" />

	<div class="grid grid-cols-1 gap-y-7">
		<!-- First Row -->
		<div class:list={[bentoCardDefaultClasses, "flex flex-col border lg:flex-row"]}>
			<div class="px-6 pt-16 pb-4 lg:w-[55%] lg:px-10">
				<HeroChip icon="red-bolt" align="left" title="Available with Dedicated Team" />
				<Title type="h6" class="mt-6">Real Time Collaboration</Title>
				<p class="text-neutral-40 text-k-lg mt-2 mb-6">
					Collaborate in real time through the tools you already use —
					<span class="font-medium">Slack, Asana, Trello, ClickUp, and more</span>. We’ll plug right
					into your workflow so communication stays seamless and projects keep moving.
				</p>
				<a class="button-primary" href={PRICING_URL}> Start with a free 15 day trial</a>
			</div>
			<div class="pt-8">
				<picture>
					<source srcset={KapaChatMobileImage} media="(max-width: 1023px)" />
					<img
						src={KapaChatImage}
						alt="Kapa Chat"
						class="relative min-h-[400px] w-full rounded-2xl rounded-tr-none rounded-bl-none object-cover object-left-top"
					/>
				</picture>
			</div>
		</div>

		<!-- Second Row -->
		<div class="flex flex-col gap-x-10 lg:flex-row lg:gap-y-6">
			<div class:list={[bentoCardDefaultClasses, "flex w-full flex-col overflow-hidden lg:w-1/2"]}>
				<div class="mx-6 mt-12 lg:mx-10">
					<Title type="h6">Stay on top of everything</Title>
					<p class="text-neutral-40 text-k-lg mt-2 mb-10">
						Track design progress with a <span class="font-medium">visual board</span>. Know exactly
						what’s in progress, what’s coming, and when to expect delivery.
					</p>
				</div>
				<picture class="grow">
					<source srcset={KanbanBoardMobileImage} media="(max-width: 1023px)" />
					<img
						src={KanbanBoardImage}
						alt="Kanban Board"
						class="h-full grow rounded-2xl rounded-bl-none object-cover object-left-top lg:ml-10"
					/>
				</picture>
			</div>

			<div class="mt-6 w-full lg:mt-0 lg:w-1/2">
				<div class:list={[bentoCardDefaultClasses, "px-6 pt-12 lg:px-10"]}>
					<Title type="h6">Prioritize what matters most</Title>
					<p class="text-neutral-40 text-k-lg mt-2 mb-10">
						Need something sooner? Flag it. Easily rearrange
						<span class="font-medium">priorities</span> and we’ll take care of the rest.
					</p>
					<picture>
						<source srcset={PrioritizationPillsMobileImage} media="(max-width: 1023px)" />
						<img
							src={PrioritizationPillsImage}
							alt="Prioritization Pills"
							class="rounded-2xl object-contain object-center"
						/>
					</picture>
				</div>

				<div class:list={[bentoCardDefaultClasses, "mt-7 px-6 pt-12 lg:px-10"]}>
					<Title type="h6">Point, click, revise</Title>
					<p class="text-neutral-40 text-k-lg mt-2 mb-10">
						Give <span class="font-medium">feedback visually</span> with a single click. Speed up iterations
						and cut down on revision time.
					</p>
					<picture>
						<source srcset={PriorityCommentsMobileImage} media="(max-width: 1023px)" />
						<img
							src={PriorityCommentsImage}
							alt="Priority Comments"
							class="rounded-2xl object-cover object-center"
						/>
					</picture>
				</div>
			</div>
		</div>

		<!-- Third Row -->
		<div class="flex flex-col gap-x-10 lg:flex-row">
			<div class:list={[bentoCardDefaultClasses, "px-10 pt-12 lg:mt-7"]}>
				<Title type="h6">Collaborate with your team</Title>
				<p class="text-neutral-40 text-k-lg mt-2 mb-10">
					Add your <span class="font-medium">teammates</span> to submit and manage requests together.
					One subscription, shared productivity.
				</p>
				<picture>
					<source srcset={DedicatedTeamMobileImage} media="(max-width: 1023px)" />
					<img
						src={DedicatedTeamImage}
						alt="Dedicated Team"
						class="rounded-2xl object-contain object-center"
					/>
				</picture>
			</div>

			<div class:list={[bentoCardDefaultClasses, "mt-7 px-10 pt-12"]}>
				<Title type="h6">Submit your brief</Title>
				<p class="text-neutral-40 text-k-lg mt-2 mb-10">
					Quickly submit <span class="font-medium">new requests</span> in 4 guided steps or freestyle
					it. Upload brand assets to keep everything consistent.
				</p>
				<picture>
					<source srcset={StepsMobileImage} media="(max-width: 1023px)" />
					<img src={StepsImage} alt="Steps" class="rounded-2xl object-contain object-center" />
				</picture>
			</div>
		</div>
	</div>
</div>
